<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>BookingSystem | </title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href='@Url.Content("~/Content/bower_components/bootstrap/dist/css/bootstrap.min.css")'>
    <link rel="stylesheet" href='@Url.Content("~/Content/bower_components/font-awesome/css/font-awesome.min.css")'>
    <link rel="stylesheet" href='@Url.Content("~/Content/bower_components/Ionicons/css/ionicons.min.css")'>
    <link rel="stylesheet" href='@Url.Content("~/Content/dist/css/AdminLTE.min.css")'>
    <link rel="stylesheet" href='@Url.Content("~/Content/plugins/iCheck/square/blue.css")'>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="hold-transition login-page">
    <div>
        @RenderBody()
    </div>
    <script src='@Url.Content("~/Scripts/bower_components/jquery/dist/jquery.min.js")'></script>
    <script src='@Url.Content("~/Scripts/bootstrap.min.js")'></script>
    <script src='@Url.Content("~/Scripts/plugins/iCheck/icheck.min.js")'></script>
    <script>
        $(function () {
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' /* optional */
            });
        });
    </script>
</body>
</html>