@model BookingSystem.Domain.WebUI.Hotel.HotelRoomVM

@{
    ViewBag.Title = "HotelRoomAdd";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

@section PageScripts
{
    <script src='@Url.Content("~/Scripts/pages/Hotel/hotelroomadd.js")'></script>
}

@section BrundCrumb{
    @Html.BuildBrandCrumb()
}

<div class="row">
    <div class="col-md-12">
        <div class="box box-default">
            <div>
                <form id="hotelRoomAddPage" method="post" enctype="multipart/form-data">
                    <div class="box-body" style="">
                        @Html.BHiddenFor(model => model.Id)
                        <div class="row">
                            @Html.BHiddenFor(model => model.HotelId)
                            @Html.BHiddenFor(model => model.HotelName)
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <div class="col col-md-12">
                                    <h3>@Model.HotelName</h3>
                                </div>
                            </div>
                            <div class="form-group">

                                <div class="col-md-4">
                                    @Html.LabelFor(model => model.RoomTypeId, new { @class = "control-label" })
                                    <div class="form-group">
                                        @Html.BDropDownListFor(model => model.RoomTypeId, (IEnumerable<BSelectListItem>)ViewBag.RoomTypes, new { })
                                        @Html.ValidationMessageFor(model => model.RoomTypeId, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div>
                                        @Html.LabelFor(model => model.RoomCapacity, new { @class = "control-label" })
                                        <div class="form-group">
                                            @Html.EditorFor(model => model.RoomCapacity, new { @data_model = "RoomCapacity", @data_type = "int" })
                                            @Html.ValidationMessageFor(model => model.RoomCapacity, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">

                                    <div>
                                        @Html.LabelFor(model => model.Price, new { @class = "control-label" })
                                        <div class="form-group">
                                            @Html.EditorFor(model => model.Price, new { @data_model = "Price", @data_type = "int" })
                                            @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div>
                                        @Html.LabelFor(model => model.IsActive, new { @class = "control-label" })
                                        <div class="form-group">
                                            @Html.BCheckBoxFor(model => model.IsActive, new { @class = "checkbox" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div style="float:left; width:48%;">
                                @Html.LabelFor(model => model.RoomImage, new { @class = "control-label" })
                                <div class="form-group">
                                    <input type="file" id="RoomImage" name="RoomImage" accept="image/x-png,image/gif,image/jpeg" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer" style="">
                        <div class="col-md-12">
                            <div style="float:right; padding-left:2px;">
                                <button type="button" class="btn btn-block btn-danger btnCancel" onclick="location.href='@Url.Action("HotelRoomList", "Hotel")'">Cancel</button>
                            </div>
                            <div style="float:right; padding-right:2px;">

                                <input type="submit" class="btn btn-block btn-primary" value="Save" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    jQuery(document).ready(function () {

        var initObject = [];
        var urls = {
            HotelSaveUrlAction: '@Url.Action("SaveHotelRoom", "Hotel")',
        };
        debugger;

        initObject.Urls = urls;
        HotelRoomAdd.init(initObject);

    });
</script>