@model BookingSystem.Domain.WebUI.Filters.HotelRoomFilter

@{
    ViewBag.Title = "RoomDefinitionList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section PageScripts
{
    @Html.RenderScriptFile(Url.Content("~/Scripts/pages/Hotel/hotelroomlist.js"))
}

@section BrundCrumb{
    @Html.BuildBrandCrumb()
}

<div class="row">
    <div class="col-md-12">
        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title"><i class="fa fa-filter"></i> Filters</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="box-body filter" style="">
                <div class="form-group">
                    <div class="col-md-4">
                        @Html.LabelFor(model => model.HotelId, new { @class = "control-label" })
                        <div class="form-group">
                            @Html.BDropDownListFor(model => model.HotelId, (IEnumerable<BSelectListItem>)ViewBag.Hotels, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-footer" style="">
                <div class="col-md-12">
                    <div style="float:right; padding-left:2px;">
                        <button type="button" class="btn btn-block btn-danger btnClear">Clear</button>
                    </div>
                    <div style="float:right; padding-right:2px;">
                        <button type="button" class="btn btn-block btn-primary btnSearch">Search</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
            </div>
            <div class="box-body">
                <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                    <div class="col-sm-12">
                        <table id="tableHotelRoomList" class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Id</th>
                                    <th>HotelId</th>
                                    <th>HotelName</th>
                                    <th>RoomTypeId</th>
                                    <th>RoomName</th>
                                    <th>RoomCapacity</th>
                                    <th>ImageUrl</th>
                                    <th>Price</th>
                                    <th>IsActive</th>
                                    <th>#</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    jQuery(document).ready(function () {
        var initObject = [];
        var urls = {
            gridLoadUrl: '@Url.Action("GetHotelRooms", "Hotel")',
            SaveUrlAction: '@Url.Action("SaveHotelRoom","Room")',
            AddHotelRoomPageUrl: '@Url.Action("HotelRoomAdd","Hotel")',
        };

        initObject.Urls = urls;
        HotelRoomList.init(initObject);
    });
</script>